<html>
	<head>
		<title>
			Video Sync using the WebSocket Protocol
		</title>
	</head>
	<body>
		<p>Welcome!</p>

		<input id = "youtube_url_box" placeholder="Enter a youtube link">
		<button id = "button_url_update"> Stream </button>
		<br>
		<!-- <video width="640" height="480" muted = "muted" controls controlsList="nodownload" > -->
		<video width="560" height="420" muted = "muted" controls controlsList="nodownload" >
		<source id = "running_src" type="video/mp4">
		</video>
		<!-- loading the sockeio library -->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
		<script defer src="{{url_for('static', filename = 'index.js')}}"></script>

	</body>
</html>